:root {
    --primary: rgb(255, 255, 255);
    --primary-text: rgb(0, 0, 0);

    --secondary: rgb(255, 102, 0);
    --secondary-hover: rgb(242, 96, 0);
    --secondary-active: rgb(225, 85, 0);
    --secondary-text: rgb(255, 255, 255);

    --time-text: rgb(89, 89, 89);

    --outline-hover: rgba(0, 0, 0, 0.05);
    --outline-active: rgba(0, 0, 0, 0.1);

    --default-radius: 8px;
}

.no-wrap {
    white-space: nowrap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

body > section {
    width: 100%;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.divider {
    color: var(--secondary);
    margin: 0.75rem 0;
}

.task-input-container {
    font-size: 1rem;
    display: flex;
    margin: 0.5rem auto;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.task-input {
    font-size: inherit;
    flex: 1;
    min-width: 0;
    border-radius: var(--default-radius);
    padding: 0.5rem;
}

.task-input:focus {
    outline: 2px solid var(--secondary);
}

.task-start {
    font-size: inherit;
    font-weight: bold;
    padding: 0 1rem;
    border-radius: var(--default-radius);
    background-color: var(--secondary);
    color: var(--secondary-text);
    border: none;
}

.task-start:hover {
    background-color: var(--secondary-hover);
}

.task-start:active {
    background-color: var(--secondary-active);
}

.active-task-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.active-task-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
    font-size: 1rem;
}

.active-task-actions > button {
    font-size: inherit;
    padding: 0.3rem 0.75rem;
    border-radius: var(--default-radius);
}

.active-task-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.active-task-info > time {
    font-size: 1.4rem;
    color: var(--time-text);
}

.task-stop {
    font-size: inherit;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    background-color: var(--primary);
}

.task-stop:hover {
    background-color: var(--outline-hover);
}

.task-stop:active {
    background-color: var(--outline-active);
}

.history-title {
    margin-bottom: 0.7rem;
}

.history-date {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
}

.history-task-list {
    list-style: none;
    font-size: 1.1rem;
}

.history-task-list > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}